config EXYNOS_DECON_LCD
	depends on EXYNOS_DECON_7870
	bool "Select LCD panel driver"

config EXYNOS_DECON_LCD_SYSFS
	depends on EXYNOS_DECON_LCD
	tristate "Support LCD SYSFS"
	default y

config PANEL_AID_DIMMING
	depends on EXYNOS_DECON_LCD
	tristate "Support AID Dimming"
	default n

config EXYNOS_DECON_MDNIE_LITE
	depends on EXYNOS_DECON_LCD
	tristate "Support MDNIE LITE"
	default n

config LCD_DOZE_MODE
	depends on EXYNOS_DECON_LCD
	tristate "Support DOZE MODE"
	default n

config DISPLAY_USE_INFO
	depends on EXYNOS_DECON_LCD
	tristate "Support display use info logging"
	default n

config PANEL_EA8064G_DYNAMIC
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "EA8064G Amoled FHD driver(1080 x 1920)"

config PANEL_S6E3FA3_J7XE
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3FA3 J7XE LCD driver"

config PANEL_S6E3FA3_A7MAX
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3FA3 A7MAX LCD driver"

config PANEL_S6E3FA3_J7Y17
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3FA3 J7Y17 LCD driver"

config PANEL_EA8061S_J7XE
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "EA8061S Amoled driver"

config PANEL_S6E3AA2_AMS474KF09
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3AA2 Amoled driver"

config PANEL_S6E3AA2_A3Y17
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6E3AA2_A3Y17 Amoled HD driver(WITH AOD)"

config PANEL_LTL101AL06
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "LTL101AL06 TFT HD driver(1280 x 800)"

config PANEL_S6D7AA0
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6D7AA0 TFT HD driver(800 x 1280)"

config PANEL_S6D7AA0_BV055HDM
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6D7AA0_ON7E TFT HD driver(720 x 1280)"

config PANEL_HX8279D
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "HX8279D TFT WUXGA driver(1200 x 1920)"

config PANEL_TD4300
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "TD4300 TFT WUXGA driver(1080 x 1920)"

config PANEL_BRIGHTNESS_MAX_480CD
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "Panel backlight brightness max is 480CD"

config PANEL_TD4100_J7POP
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "TD4100 TFT HD driver(720 x 1280)"

config PANEL_S6E8AA5X01
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	bool "S6E8AA5X01 AMOLED HD LCD driver(720 x 1280)"

config PANEL_S6E8AA5X01_J5Y17_KOR
	depends on PANEL_S6E8AA5X01
	bool "S6E8AA5X01 AMOLED HD LCD driver(720 x 1280)"

config PANEL_EA8061S_J7VE
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "EA8061S Amoled driver"

config PANEL_S6D7AA0_GTACTIVE2
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "S6D7AA0 TFT LCD driver(800 x 1280)"

config EXYNOS_LCD_PWM_BACKLIGHT
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSI
	tristate "EXYNOS_LCD_PWM_BACKLIGHT"
