config FIMC_IS_V3_11_0
	bool "Use fimc-is v3.11.0"
	depends on EXYNOS_FIMC_IS
	default n
	help
	  fimc-is version 3.11.0

config CAMERA_MIPI_PHY_SELECT_M0S2
	bool "CSI1 MIPI SELECT"
	depends on FIMC_IS_V3_11_0
	default n
	help
	  This flags enables M0S2 PHY line for CSI1

