# drivers/staging/samsung/Kconfig
#
# Copyright (c) 2010-2011 Samsung Electronics Co., Ltd.
#		http://www.samsung.com/
#
# Licensed under GPLv2

comment "Samsung TN Features"
menuconfig SEC_EXT
	bool "Samsung TN extension features"
	default y

config SEC_SYSFS
	bool "Create a sysfs node for SEC_CLASS"
	depends on SEC_EXT
	default y

config SEC_REBOOT
	bool "Enable TN reboot features"
	depends on SEC_EXT
	default y

menuconfig SEC_DEBUG
	bool "Enable TN debugging features"
	depends on EXYNOS_SNAPSHOT && SEC_REBOOT
	default y

config SEC_DEBUG_RESET_REASON
	bool "Enable TN reset reason"
	depends on SEC_DEBUG
	default y
	help
	  This option enables storing reset reason history file
	  This option enables reading the reset reason history using proc/reset_reason file

config SEC_DEBUG_EXTRA_INFO
	bool "Enable TN reset reason extra info"
	depends on SEC_DEBUG && SEC_DEBUG_RESET_REASON
	default n
	help
	  This option enables storing reset reason extra info
	  This option enables ap reset info bigdata based on reset reason extra info

config SEC_DEBUG_HW_PARAM
	bool "Enable TN HW PARAM bigdata info"
	depends on SEC_DEBUG && SEC_DEBUG_RESET_REASON
	default n
	help
	  This option enables storing hw param bigdata info

config SEC_DEBUG_AUTO_SUMMARY
	bool "Enable TN kernel fault auto summary"
	depends on SEC_DEBUG
	default n
	help
	  This option enables kernel fault auto summary feature
	  This option also requires bootloader change that enables auto summary extraction along with ramdump

config SEC_DEBUG_LAST_KMSG
	bool "Write last_kmsg at /proc/last_kmsg"
	depends on SEC_DEBUG
	default y
	help
	  This option enables /proc/last_kmsg support.

config SEC_DEBUG_FILE_LEAK
	bool "Panic when file leak detected"
	depends on !SAMSUNG_PRODUCT_SHIP
	default y

config SEC_UPLOAD
	bool "Enable TN upload mode"
	depends on SEC_DEBUG
	default y
	help
	  Samsung TN upload mode

config SEC_HW_REV
	bool "Get GPIO HW REV"
	depends on SEC_DEBUG
	default n


config SEC_DEBUG_MDM_SEPERATE_CRASH
	bool "Enable modem crash with a seperated command"
	depends on SEC_DEBUG
	default n
	help
	  This option enables modem crash other debug level.

comment "Samsung TN BSP Options"
config SEC_PARAM
	bool "Enable Param modification"
	depends on SEC_DEBUG
	default n
	help
	  Samsung TN Param Feature.

config SEC_BOOTSTAT
	bool "Enable TN Bootstat logging"
	depends on SEC_EXT
	default y

config SEC_INITCALL_DEBUG
	bool "Enable Initcall Debug Feature"
	default n
	depends on SEC_EXT && !SAMSUNG_PRODUCT_SHIP
	help
	  Enable Samsung initcall debug support.

config ARGOS
	bool "Throughput monitoring Feature"
	default n
	help
	  Check throughput and set appropriate system parameters(CPU freq, affinity, etc)

comment "Samsung TN Logging Options"
config SEC_AVC_LOG
	default n
	bool "Enable avc audit log support" if EMBEDDED
	depends on SEC_EXT
	help
	  This option enables additional log buffer for audit log.

config SEC_DEBUG_TSP_LOG
	default n
	bool "Enable tsp log support" if EMBEDDED
	depends on SEC_EXT
	help
	  This option enables additional log buffer for tsp log.

config SEC_DEBUG_PMIC
	default n
	bool "Enable pmic debug option support" if EMBEDDED
	depends on SEC_EXT
	help
	  This option enables additional debug option for pmic.
	  Enable this option for eng build only.

comment "Samsung TN Power Management Options"
menuconfig SEC_PM
	bool "Samsung TN Power Management"
	default y
	help
	  Samsung TN Power Management.

config SEC_PM_DEBUG
	bool "Enable Samsung TN Power management debug support"
	default y
	depends on SEC_PM
	help
	  Enable Samsung TN Power management debug support.

config SEC_EVENT_LOG
	bool "Enable Event log parser"
	depends on SEC_EXT
	default y

comment "Samsung TN NAD Options"
config SEC_NAD
	bool "Samsung TN NAD Feature"
	default n
	help

	  Samsung TN NAD Feature, support AT CMD for NAD 2.0
	  	  
config SEC_NAD_MANUAL_PARAM_READTIME
	int "Samsung TN NAD Feature"
	depends on SEC_NAD
	default "10"
	help
	  Samsung TN NAD Feature, set param reading time manually.

config SEC_NAD_API
	bool "Samsung TN NAD API Feature"
	depends on SEC_NAD
	default n
	help
	  Samsung TN NAD Feature, Support NAD API to check gpio pull-up registance

choice
	prompt "Version of GAF structure"
	depends on SEC_DEBUG
	default SEC_DEBUG_GAF_V4 if FIVE
	default SEC_DEBUG_GAF_V3

	config SEC_DEBUG_GAF_V3
		bool "Use GAF structure version 3"
		help
		  Default option for FIVE-disabled kernel

	config SEC_DEBUG_GAF_V4
		bool "Use GAF structure version 4"
		help
		  Default option for FIVE-enabled kernel
endchoice
