/*
 * SAMSUNG UNIVERSAL8890 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos7870-j7xelte_common.dtsi"
#include "modem-ss315ap-pdata.dtsi"
#include "exynos7870-j7xelte_eur_open_gpio_02.dtsi"
#include "exynos7870-j7xelte_eur_open_battery_01.dtsi"

/ {
	model = "Samsung J7XE LTE EUR rev02 board based on Exynos7870";
        model_info-chip = <7870>;
        model_info-platform = "android";
        model_info-subtype = "samsung";
        model_info-hw_rev = <2>;
        model_info-hw_rev_end = <2>;
	compatible = "samsung, J7XE LTE EUR OPEN 02", "samsung,exynos7870";

	i2c@64{
		compatible = "i2c-gpio";
		gpios = <&gpc1 2 0 /* sda */
				&gpc1 3 0 /* scl */
				>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&fmradio_i2c>;
		rtcfmradio@64 {
			compatible = "richwave,rtc6213n", "rtc6213n";
			reg = <0x64>;
			interrupts = <4 0 0>;
			interrupt-parent = <&gpa2>;
			pinctrl-names = "default";
			pinctrl-0 = <&fmradio_irq>;
		};
	};
		
	cnss_dcdc_en: cnss_dcdc_en {
		compatible = "regulator-fixed";
		regulator-name = "cnss_dcdc_en";
		startup-delay-us = <4000>;
		enable-active-high;
		gpio = <&gpa0 7 0>;
	};

	dwmmc2@13560000 {
		card-detect-invert-gpio;
	};

	i2c@13870000 {
		status = "okay";
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;

		s2mu005@3d {
			compatible = "samsung,s2mu005mfd";
			reg = <0x3d>;
			pinctrl-names = "default";
			pinctrl-0 = <&if_pmic_irq>;
			s2mu005,irq-gpio = <&gpa2 7 0>;
			s2mu005,wakeup;

			leds {
				flash-gpio = <&gpd3 2 0>;
				torch-gpio = <&gpd3 3 0>;

				flash_current = <1200>;
				preflash_current = <150>;
				movie_current = <175>; /*unused*/
				torch_current = <75>;
				factory_current = <300>;
				front_torch_current = <50>;

				status = "okay";
				s2mu005-leds1 {
					ledname = "leds-sec1";
					id = <0>;
					timeout = <15>; /* use gpio */
				};

				s2mu005-leds2 {
					ledname = "leds-sec2";
					id = <1>;
					timeout = <15>; /* use gpio */
				};
			};
		};
	};

	i2c@13890000{
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <300000>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		sec-nfc@27 {
			compatible = "sec-nfc";
			reg = <0x27>;
			interrupts = <6 0 0>;
			interrupt-parent = <&gpa2>;
			sec-nfc,nfc_pd = <&gpc2 2 0x2>;
			sec-nfc,firm-gpio = <&gpd4 1 0>;
			sec-nfc,irq-gpio = <&gpa2 6 0>;
			clkctrl-reg = <0x1048600C>;
			sec-nfc,nfc_clkreq = <&gpc2 3 0x2>;
			sec-nfc,check_nfc = <&gpd1 2 0x0>;
			pinctrl-names = "default";
			pinctrl-0 = <&nfc_n5_firm &nfc_n5_clk_req &nfc_pd &nfc_int &ese_pvdd_en &nfc_det>;
		};
	};

	but_zones: but_zones {
		#list-but-cells = <3>;
	};	

	hsi2c@10510000 {
		status = "okay";
		samsung,hs-mode;
		clock-frequency = <2500000>;
		samsung,hsi2c-batcher;
		#address-cells = <1>;
		#size-cells = <0>;

		s2mpu05_pmic@66 {
			compatible = "samsung,s2mpu05-pmic";
			reg = <0x66>;
			ten-bit-address;
			interrupts = <2 0 0>;
			interrupt-parent = <&gpa0>;
			pinctrl-names = "default";
			pinctrl-0 = <&pmic_irq &pm_wrsti>;
			g3d_en = <1>; /* 1 : enable , 0 : disable */
			buck2en_pin = "etc1-3";
			buck2en_addr = "139B0080.pinctrl";
			/* RTC: wtsr/smpl */
			wtsr_en = <1>; /* enable */
			smpl_en = <1>; /* enable */
			wtsr_timer_val = <3>;   /* 1000ms */
			smpl_timer_val = <4>;   /* 500ms */
			check_jigon = <0>; /* do not check jigon */
			/* RTC: If it's first boot, reset rtc to 1/1/2016 12:00:00(Fri) */
			init_time,sec = <0>;
			init_time,min = <0>;
			init_time,hour = <12>;
			init_time,mday = <1>;
			init_time,mon = <0>;
			init_time,year = <116>;
			init_time,wday = <5>;

			regulators {
				buck1_reg: BUCK1 {
					regulator-name = "BUCK1";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
					regulator-expected-consumer = <2>;
				};

				buck2_reg: BUCK2 {
					regulator-name = "BUCK2";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <2>;		/* MIF mode */
					regulator-expected-consumer = <4>;
				};

				buck3_reg: BUCK3 {
					regulator-name = "BUCK3";
					regulator-min-microvolt = <500000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <2>;
				};

				buck4_reg: BUCK4 {
					regulator-name = "BUCK4";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <2>;
				};

				buck5_reg: BUCK5 {
					regulator-name = "BUCK5";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <2100000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <2>;
				};

				ldo1_reg: LDO1 {
					regulator-name = "vdd_ldo1";
					regulator-min-microvolt = <650000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo2_reg: LDO2 {
					regulator-name = "vqmmc";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <2800000>;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <0>;
				};

				ldo3_reg: LDO3 {
					regulator-name = "vdd_ldo3";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <2375000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo4_reg: LDO4 {
					regulator-name = "vdd_ldo4";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo5_reg: LDO5 {
					regulator-name = "vdd_ldo5";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo6_reg: LDO6 {
					regulator-name = "vdd_ldo6";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1350000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo7_reg: LDO7 {
					regulator-name = "vdd_ldo7";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <2375000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo8_reg: LDO8 {
					regulator-name = "vdd_ldo8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3375000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo9_reg: LDO9 {
					regulator-name = "vdd_ldo9";
					regulator-min-microvolt = <650000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo10_reg: LDO10 {
					regulator-name = "vdd_ldo10";
					regulator-min-microvolt = <650000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo25_reg: LDO25 {
					regulator-name = "vdd_ldo25";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <2375000>;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo26_reg: LDO26 {
					regulator-name = "vemmc";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3375000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo27_reg: LDO27 {
					regulator-name = "vqemmc";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <2375000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo29_reg: LDO29 {
					regulator-name = "LCD_3P0";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo30_reg: LDO30 {
					regulator-name = "LCD_1P8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo31_reg: LDO31 {
					regulator-name = "vdd_ldo31";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3375000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo32_reg: LDO32 {
					regulator-name = "VDD_MOTOR_3.3";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-ramp-delay = <12000>;
				};

				ldo33_reg: LDO33 {
					regulator-name = "vdd_sensor_3p3";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <3>;
				};

				ldo34_reg: LDO34 {
					regulator-name = "tsp_dvdd";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo35_reg: LDO35 {
					regulator-name = "VDD_CAM_SENSOR_A2P8";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
					regulator-initial-mode = <0>;
				};
			};
		};

		audio_codec_cod3026x: cod3026x@04 {
			compatible = "codec,cod3026x";
			reg = <0x04>;
			ten-bit-address;
			vdd-supply = <&ldo25_reg>;
			pinctrl-names = "default";
			pinctrl-0 = <&cod3026_irq>;
			interrupt-parent = <&gpa0>;
			gpios = <&gpa0 4 0xf>;
			mic-bias1-voltage = <1>;
			mic-bias2-voltage = <1>;
			mic-bias-ldo-voltage = <3>;
			use-det-adc-mode;
			io-channels = <&exynos_adc 2>;
			io-channel-names = "adc-jack";
			#io-channel-cells = <1>;
			io-channel-ranges;
			but-zones-list = <&but_zones 226 0 203>, /* send/end */
					<&but_zones 582 204 290>, /* google */
					<&but_zones 115 291 488>, /* vol up */
					<&but_zones 114 489 1000>; /* vol down */
			mic-adc-range = <1350>;
		};
	};

	wlan {
		compatible = "qcom,cnss_sdio";
		wlan-en-gpio = <&gpd3 6 0>; /* WLAN_EN */
		wlan-host-wake = <&gpa2 2 0>; /* WLAN_HOST_WAKE */
		vdd-wlan-supply = <&cnss_dcdc_en>; /* DCDC_EN regulator */
		pinctrl-names = "default";
		pinctrl-0 = <&cnss_wlanen &cfg_wlanhostwake>;
		status = "okay";
	};
	
	touch_3p3_en {
		compatible = "regulator-fixed";
		regulator-name = "vtouch_2.8v";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		gpio = <&gpd1 6 0>;
		enable-active-high;
	};

	i2c@13850000 {
		touchkey@20 {
			coreriver,sub-det-gpio = <&gpd1 4 0>;
			coreriver,regulator_ic = "vtouch_2.8v";
		};
	};

	bluetooth {
		compatible = "qca,qca6174";
		gpios = <&gpd4 0 0x1	/*BT_EN*/
				&gpa1 2 0x1	/*BT_WAKE*/
				&gpa1 6 0xF	/*BT_HOST_WAKE*/ >;
		vdd-wlan-supply = <&cnss_dcdc_en>; /* DCDC_EN regulator */
		pinctrl-names = "default";
		pinctrl-0=<&bt_hostwake &bt_btwake &bt_en>;
		status = "okay";
	};
	
	pinctrl@13750000 {
		sd1_cmd: sd1-cmd {
			samsung,pins = "gpr2-1";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
			samsung,pin-con-pdn = <2>;
			samsung,pin-pud-pdn = <3>;
		};
	};
	
	pinctrl@139F0000 {
		acc_int: acc_int {
			samsung,pins = "gpa2-3";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		prox_int: prox_int {
			samsung,pins = "gpa0-5";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@139B0000 {
		sensor_i2c: sensor_i2c {
			samsung,pins = "gpc4-3", "gpc4-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
		};

		proxy_i2c: proxy_i2c {
			samsung,pins = "gpc5-1", "gpc5-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
		};
		
		nfc_det: nfc-det {
			samsung,pins = "gpd1-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
		};	
	};

	i2c@138D0000 {
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&sensor_i2c>;

		k2hh-i2c@1D {
			compatible = "k2hh-i2c";
			reg = <0x1D>;
			pinctrl-names = "default";
			pinctrl-0 = <&acc_int>;
			interrupt-parent = <&gpa2>;
			interrupts = <3 0 0>;
			k2hh,irq_gpio = <&gpa2 3 0>;
			k2hh,vio-supply = <&ldo3_reg>;
			k2hh,axis_map_x = <0>;
			k2hh,axis_map_y = <1>;
			k2hh,axis_map_z = <2>;
			k2hh,negate_x = <0>;
			k2hh,negate_y = <0>;
			k2hh,negate_z = <1>;
			k2hh,poll_interval = <100>;
			k2hh,min_interval = <2>;
		};
	};

	i2c@138E0000 {
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <400000>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&proxy_i2c>;

		stk3013@48 {
			compatible = "stk,stk3013";
			reg = <0x48>;
			interrupt-parent = <&gpa0>;
			interrupts = <5 0 0>;
			pinctrl-names = "default";
			pinctrl-0 = <&prox_int>;
			stk,vdd-supply = <&ldo33_reg>;
			stk,vio-supply = <&ldo3_reg>;
			stk,irq-gpio = <&gpa0 5 0x00>;
			stk,state-reg = <0x2d>;
			stk,psctrl-reg = <0x70>;
			stk,alsctrl-reg = <0x2A>;
			stk,ledctrl-reg = <0xF8>;
			stk,wait-reg = <0x03>;
			stk,ps-thd-h = <20>;
			stk,ps-thd-l = <13>;
			stk,ps-cancel-thd-h = <9>;
			stk,ps-cancel-thd-l = <6>;
			stk,ps-cal-skip-adc = <10>;
			stk,ps-cal-fail-adc = <20>;
			stk,ps-default-offset = <3>;
			stk,transmittance = <500>;
		};
	};

	pinctrl@139F0000 {
		fmradio_irq: fmradio-irq {
			samsung,pins = "gpa2-4";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@139B0000 {
		fmradio_i2c: fmradio-i2c {
			samsung,pins ="gpc1-2", "gpc1-3";
			samsung,pin-function = <3>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	decon_fb@14830000 {
		gpios = <&gpd1 3 0xf>; /* te_signal XGPIO7 */
		psr_mode = <2>; /* 0: video mode, 1: DP command mode, 2: MIPI command mode */
		disp-pll-clk = <64000000>;
		disp-vclk = <64000000>;
		disp-eclk = <70000000>;
		disp-dvfs = <200000>;
		status = "okay";
	};

	dsim_0: dsim@14800000 {
		lcd_info = <&s6e3fa3>;
		decon_board = <&decon_board>;
		status = "okay";
	};

	decon_board: decon_board {
		gpio_lcd_rst = <&gpd3 4 0x1>;

		dsim_set_panel_power_enable {
			type =
			"regulator,enable",	"LCD_1P8",
			"regulator,enable",	"LCD_3P0",
			"delay,usleep",	"10000 11000";
		};
		dsim_set_panel_power_disable {
			type =
			"gpio,low",	"gpio_lcd_rst",
			"regulator,disable",	"LCD_3P0",
			"regulator,disable",	"LCD_1P8";
		};
		dsim_reset_panel {
			type =
			"gpio,high",	"gpio_lcd_rst",
			"delay,usleep",	"5000 6000",
			"gpio,low",	"gpio_lcd_rst",
			"delay,usleep",	"5000 6000",
			"gpio,high",	"gpio_lcd_rst",
			"delay,usleep",	"10000 11000";
		};
	};

	s6e3fa3: s6e3fa3_fhd {
		mode = <2>; /* 0: video mode, 1: DP command mode, 2: MIPI command mode */
		resolution = <720 1280>;
		size = <68 121>;
		ddi_type = <0>;
		timing,refresh = <60>;
		timing,h-porch = <1 1 1>;
		timing,v-porch = <10 3 1>;
		timing,dsi-hs-clk = <1100>;
		timing,pms = <3 127 0>;
		timing,dsi-escape-clk = <16>;
	};

	fimc_is_module_3l2: fimc-is_sensor_3l2@2D {
		gpio_camaf_2p8_en = <&gpa1 5 0x1>; /* CAM_AF_2P8 enable pin */
	};
};
